{% extends 'BlackConfigBundle:Config:base.html.twig' %}

{% block body %}
    <header>
        <h2>{% trans from "views" %}black.bundle.config.index.title{% endtrans %}</h2>
    </header>

    {% include 'BlackAssetsBundle:Flash:flash.html.twig' %}

    <table id="table-config" class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.name }}</td>
                <td>
                    <a class="btn" href="{{ url('config_read', {'value': document.id}, true) }}" title="{% trans from "views" %}black.bundle.config.index.read{% endtrans %}"><i class="icon-eye-open"></i></a>
                    <a class="btn btn-primary" href="{{ url('config_update', {'value': document.id}, true) }}" title="{% trans from "views" %}black.bundle.config.index.update{% endtrans %}"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-danger" href="{{ url('config_delete', {'value': document.id}, true) }}"title="{% trans from "views" %}black.bundle.config.index.delete{% endtrans %}"><i class="icon-remove icon-white"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">
                    <a class="btn btn-success" href="{{ url('config_create', {}, true) }}">
                        <i class="icon-pencil icon-white"></i>
                        {% trans from "views" %}black.bundle.config.index.create{% endtrans %}
                    </a>
                </td>
            </tr>
        </tfoot>

    </table>

{% endblock %}
